[Unit]
Description=µPki client CRL download service
ConditionACPower=true
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
Restart=always
WorkingDirectory=/opt/upki-cli
ExecStart=/usr/bin/python3 ./client.py --url certificates.domain.com crl
ExecStartPost=/usr/sbin/service nginx restart
# ExecStartPost=/usr/sbin/service apache2 restart

[Install]
WantedBy=upki-cli-crl.timer